<html>
    <body>    
        <!-- Inicio Caroussel -->
        <div class="container eletriza">
          <div class="row">
            <div class="col-sm-12">
              <img class="imagemEletriza" src="/assets/imagens/eletriza.jpeg">
            </div>
          </div>
        </div>
        
        <!-- final Caroussel -->
    
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
    
      <div class="container marketing">
    
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" width="140" height="140">  
            <h2 class="fw-normal">Imagem</h2>
            <p>EM PLANEJAMENTO...</p>
            <p><a class="btn btn-secondary" href="#angular">Angular &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="https://assets.stickpng.com/images/613b64fe30e8530004ba3a03.png" width="140" height="140">
            <h2 class="fw-normal">Imagem</h2>
            <p>EM PLANEJAMENTO...</p>
            <p><a class="btn btn-secondary" href="#javascript">Javascript &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="https://www.alura.com.br/artigos/assets/html-css-js/imagem-1.png" width="140" height="140">
            <h2 class="fw-normal">Imagem</h2>
            <p>EM PLANEJAMENTO...</p>
            <p><a class="btn btn-secondary" href="#html">Html &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    
    
        <!-- START THE FEATURETTES -->
    
        <hr class="featurette-divider-one">
    
        <div class="row featurette" id="angular">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Descrição minusciosa. <span class="text-muted">Angular</span></h2>
            <p class="lead">Descrição elaborada.</p>
          </div>
          <div class="col-md-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" width="500" height="500">  
    
          </div>
        </div>
    
        <hr class="featurette-divider" id="javascript">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Descrição minusciosa.<span class="text-muted">Javascript</span></h2>
            <p class="lead">Descrição elaborada.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="https://assets.stickpng.com/images/613b64fe30e8530004ba3a03.png" width="500" height="500">
          </div>
        </div>
    
        <hr class="featurette-divider" id="html">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Descrição minusciosa.<span class="text-muted">html</span></h2>
            <p class="lead">Descrição elaborada.</p>
          </div>
          <div class="col-md-5">
            <img src="https://www.alura.com.br/artigos/assets/html-css-js/imagem-1.png" width="500" height="500">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
    
      </div><!-- /.container -->
    
    
      <!-- FOOTER -->
    
          
</body>
</html>